DATABASE_URL="postgresql://ssc_user:ssc_pass_segura@localhost:5432/ssc_db"
JWT_SECRET="cambiar-por-string-aleatorio-de-al-menos-32-caracteres"
PORT=4000
CORS_ORIGIN="http://localhost:3000"
NODE_ENV="development"
